<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.s3uploaddownload.mapper.PostMapper">

    <insert id="savePost" parameterType="com.example.s3uploaddownload.dto.PostDto">
        INSERT INTO posts
            (title, reg_id, reg_dtm)
        VALUES
            (#{title}, #{writer}, now())
        <selectKey keyProperty="seq" resultType="String" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="saveLinks" parameterType="com.example.s3uploaddownload.dto.PostDto">
        INSERT INTO attachments
        (post_seq, link, reg_id, reg_dtm)
        VALUES
        <foreach item="link" collection="links" separator=",">
            (#{seq}, #{link}, #{writer}, now())
        </foreach>
    </insert>

    <select id="selectPost" parameterType="String" resultType="com.example.s3uploaddownload.dto.PostDto">
        SELECT seq, title, reg_id as writer
        FROM posts
        WHERE seq = #{seq}
    </select>

    <select id="selectLinks" parameterType="String" resultType="String">
        SELECT link
        FROM attachments
        WHERE post_seq = #{seq}
    </select>
</mapper>