<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.s3uploaddownload.mapper.PostMapper">

    <insert id="savePost" parameterType="com.example.s3uploaddownload.dto.PostDto">
        INSERT INTO post
            (title, reg_id, reg_dtm)
        VALUES
            (#{title}, #{writer}, now())
        <selectKey keyProperty="seq" resultType="String" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>